%ul.accordion
  %li#one.files
    %a{href: "#"}
      Создать викторину
      %span
    %ul.sub-menu
      %li
        %a{href: new_quizzes_path(game_type: Quizzes::OWN_GAME)}
          %em
            01
          Своя игра
      %li
        %a{href: new_quizzes_path(game_type: Quizzes::ALPHABET)}
          %em
            02
          Алфавит


  %li#two.mail
    %a{href: "#one"}
      Своя игра
      %span
        = current_user.quizzes.where(game_type: Quizzes::OWN_GAME).count
    %ul.sub-menu
      - current_user.quizzes.where(game_type: Quizzes::OWN_GAME).group(:category).count.each_with_index do |(category_name, quizzes_count), index|
        %li
          %a{href: '#'}
            %em
              = index
            = category_name
            %span
              = quizzes_count

  %li#two
    %a{href: "#one"}
      Алфавит
      %span
        = current_user.quizzes.where(game_type: Quizzes::ALPHABET).count

    - current_user.quizzes.where(game_type: Quizzes::ALPHABET).group(:category).count.each_with_index do |(category_name, quizzes_count), index|
      %li
        %a{href: '#'}
          %em
            = index
          = category_name
          %span
            = quizzes_count

  %li#four.sign
    %a.exit{href: logout_user_path}
      Выход
