- title 'Авторизация'
.login-form
  %h1 Авторизация
  = form_tag authorize_user_path do
    = text_field :user, :login, placeholder: 'Логин'
    = password_field :user, :password, placeholder: 'Пароль'
    %span
      = check_box_tag 'user[remember]'
      = label_tag 'user[remember]', 'Запомнить'
    = submit_tag 'Войти', id: :login_button



.register
  .or
    Или
  %a{href: new_user_path, id: :register, class: 'button big green'} 
    Регистрация
    %span
      За одну минуту