!!! 5
%html
  %head
    %title 
      = yield(:title)
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = flash_messages
      = render :template => 'layouts/quiz_header' unless user_authorized?
      .content
        %div{:class => 'wrapper clearfix'}
          = yield